.dice-game-container {
  font-family: "Roboto Slab", serif;
  background-color: #223a4c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dice-game-container h1 {
  font-size: 28px;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.dice-game-container h2 {
  font-size: 24px;
  color: #f2f2f2;
  margin-bottom: 10px;
}

.dice-game-container button {
  background-color: #ff9800;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dice-game-container button:hover {
  background-color: #ff5722;
}

.dice-roll-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.dice-game-betting-button {
  border: 2px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 18px;
}
